/* General Styling */
body {
  margin: 0;
  padding: 20px;
  border: 35px solid;
  border-image: linear-gradient(135deg, #e305e3, #300141) 1;
  background: linear-gradient(135deg, #fc6be9, #6b24b6, #5e1c78);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Feedback Page */
.feedback-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

/* Text Container */
.text-container {
  width: 90%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Heading Styling */
.feedback-heading {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* Textarea */
.feedback-input {
  width: 100%;
  height: 200px;
  padding: 15px;
  font-size: 18px;
  color: #333;
  border: 2px solid black;
  border-radius: 8px;
  resize: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease-in-out;
}

.feedback-input:focus {
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Submit Button */
.submit-btn {
  padding: 15px 30px;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  color: #2193b0;
  font-style: italic;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  align-self: center;
}

.submit-btn:hover {
  background: white;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

/* Messages */
.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}

.success-message {
  color: rgb(16, 238, 16);
  font-size: 26px;
  font-weight: bold;
}

/* Mobile Styles */
@media (max-width: 768px) {
  body {
    padding: 10px;
    border-width: 20px;
  }

  .text-container {
    width: 95%;
    padding: 20px;
  }

  .feedback-heading {
    font-size: 35px;
  }

  .feedback-input {
    height: 200px;
    font-size: 16px;
    padding: 10px;
  }

  .submit-btn {
    font-size: 18px;
    padding: 12px;
  }

  .success-message {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .feedback-heading {
    font-size: 28px;
  }

  .feedback-input {
    height: 150px;
    font-size: 14px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 10px;
  }
}
